[submodule "Lanelet2"]
	path = Lanelet2
	url = https://github.com/fzi-forschungszentrum-informatik/Lanelet2
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git